@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  /* Color Configuration */
  --color-muted: #6b7280;
  --color-accent: #f35b05;
  --color-danger: #ef4444;

  --color-card: #ffffff;
  --color-secondary: #fbfaf9;
  --color-background: #ffffff;
  --color-foreground: #000000;

  /* Font Size Configuration */
  --text-3xs: 10px;
  --text-2xs: 12px;
  --text-xs: 14px;
  --text-sm: 16px;
  --text-base: 18px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 32px;
  --text-3xl: 36px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-card: #212121;
    --color-secondary: #2e2e2e;
    --color-background: #212121;
    --color-foreground: #ffffff;
  }
}

.dropdown-icon {
  @apply group-hover:text-accent group-focus:text-accent text-stone-500 transition-colors duration-200;
}
.dropdown-icon-destructive {
  @apply text-danger group-hover:text-danger group-focus:text-danger transition-colors duration-200;
}