@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-muted: #6b7280;
  --color-accent: #f35b05;

  --color-card: #ffffff;
  --color-secondary: #ececec;
  --color-background: #ffffff;
  --color-foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-card: #212121;
    --color-secondary: #2e2e2e;
    --color-background: #212121;
    --color-foreground: #ffffff;
  }
}
